.banner {
	background-image: url(../../images/background.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 40px;
}

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	margin-bottom: 40px;
}